In [1]:
import matplotlib.pyplot as plt
import os
import numpy as np
import pandas as pd

In [2]:
df_1 = pd.HDFStore("/eos/user/v/vdurupt/test_1_davide/test_1_davide_object.h5py", "r")["df"]
df_1

,output_object.csv,sc_matched,calomatched,caloindex,genmatched,genindex,sc_index,seed_index,en_seed,et_seed,...,genpart_et,gen_eta,gen_phi,gen_pt,nVtx,rho,obsPU,truePU,eventId,runId
0,0.0,True,1.0,0.0,1.0,3.0,3.0,0.0,168.694656,19.801315,...,25.187536,2.839110,1.779279,25.187536,37.0,38.416573,51.0,60.365231,7.0,1000.0
1,1.0,True,1.0,3.0,1.0,0.0,2.0,1.0,203.098679,81.452309,...,84.354437,-1.571912,-0.385735,84.354439,37.0,38.416573,51.0,60.365231,7.0,1000.0
2,2.0,True,1.0,1.0,1.0,2.0,1.0,3.0,49.509502,36.182041,...,37.864643,0.819961,-2.028455,37.864643,37.0,38.416573,51.0,60.365231,7.0,1000.0
3,3.0,True,1.0,2.0,1.0,1.0,0.0,2.0,83.353630,65.177093,...,66.253541,-0.742377,-1.562979,66.253540,37.0,38.416573,51.0,60.365231,7.0,1000.0
4,0.0,True,1.0,0.0,1.0,3.0,2.0,0.0,299.720825,82.657325,...,87.184279,1.968292,-2.443568,87.184280,49.0,41.289204,64.0,57.205555,8.0,1000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14253,0.0,True,1.0,3.0,1.0,0.0,2.0,0.0,305.909241,70.723957,...,69.524428,-2.153607,2.480474,69.524429,43.0,42.497116,52.0,58.122066,97.0,4572.0
14254,1.0,True,1.0,1.0,1.0,2.0,1.0,2.0,65.691254,62.858570,...,82.040494,0.286181,-2.278246,82.040497,43.0,42.497116,52.0,58.122066,97.0,4572.0
14255,3.0,True,1.0,0.0,1.0,3.0,3.0,4.0,21.839750,9.131815,...,14.864206,1.511851,2.507781,14.864206,43.0,42.497116,52.0,58.122066,97.0,4572.0
14256,4.0,True,1.0,2.0,1.0,1.0,0.0,1.0,132.628571,68.682787,...,70.193406,-1.284067,-1.689563,70.193405,43.0,42.497116,52.0,58.122066,97.0,4572.0
14257,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN